@use '../global/variables' as *;
@use '../global/placeholders' as *;

/* Start Quotes Styling:- */

.quotes {
    padding: $up-down-padding 0;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 200px;
        background-color: $main-color;
        position: absolute;
        left: 0;
        bottom: 250px;
        z-index: -1;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left,
        .right {
            width: 50%;
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        article {
            font-size: 0.9rem;
            &.top {
                padding: $main-element-padding * 2;
                grid-row: span 2;
                background-color: $dark-background-color;
            }
            &.bottom {
                padding: 0 $main-element-padding * 2;
                span {
                    font: {
                        style: italic;
                        weight: 600;
                    }
                }
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .right {
            article {
                &.top {
                    padding: 0;
                    grid-row: span 2;
                    background-color: $white-color;
                }
            }
        }
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
}


/* End Quotes Styling */