// colors :-
$black-color: #000;
$white-color: #FFF;
$main-color: #ffe500;
$sec-color: #d1bc05;
$main-para-color:#707070;
$main-background-color: #FFF;
$sec-background-color:#f5f5f5;
$dark-background-color:#1B1B1B;
$shadow-color: #ececec;
// spacing(padding, margin):-
$main-element-padding: 20px;
$sec-element-padding: 10px;
$up-down-padding: 60px;